* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
    color: white;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%231591e3' fill-opacity='0.2' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}
a {
    color: white;
    text-decoration: none;
}
ul {
    list-style: none;
}
.container {
    width: 90%;
    margin: auto;
}

/* Navegación */
.nav-main {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
}
.nav-brand {
    width: 50px;
    background-color: grey;
}

/* Nav Izquierda */

.nav-main ul {
    display: flex;
}
.nav-main ul li {
    padding: 10px;
}
.nav-main ul li a {
    padding: 6px;
}
.nav-main ul li a:hover {
    border: 2px solid white;
}
.nav-main ul.nav-menu-right {
    margin-right: 40px;
}

.nav-main ul.nav-menu {
    flex: 1;
    margin-left: 20px ;
}
.menu-btn {
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 30px;
    z-index: 2;
    font-size: 1.5rem;
    display: none;

}

/* Show case */
hr {
    margin-bottom: 10px;
}
.showcase {
    width: 100%;
    height: 550px;
    background-image: url('./img/nebulosaRoad.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 50px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.showcase p {
    text-align: center;
    margin: 20px;
}
.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    background-color: #262626;
    padding: 5px 10px;
    font-size: 15px;
    border: 1px solid white;

}
.btn:hover {
    opacity: 0.8;
}

/* News Card*/

.news-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin-bottom: 25px;
}
.news-card img {
    width: 100%;
    height: 180px;
}
.news-card h3 {
    font-size: 20px;
    margin: 10px 0;
}
.news-card p {
    text-align: justify;
}
.news-card a {
    padding: 10px 0;
    color: #f2f2f2;
    text-transform: uppercase;
    display: inline-block;
    font-weight: normal;
}
.news-card a:hover {
    text-decoration: underline;
}

/* Cards Banner One */

.cards-banner-one {
    width: 100%;
    height: 350px;
    background-image: url("./img/disney.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 40px;
}
.cards-banner-one .content {
    width: 40%;
    padding: 90px 0 0 30px;
}
.cards-banner-one p{
    margin: 10px 0;
}
.cards-banner-one .btn {
    margin-top: 10px;
}
/* Banner two */
.cards-banner-two {
    background-image: url("./img/nightSkyPines.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 350px;
}
.cards-banner-two .content {
    width: 50%;
    padding: 100px 0 0 30px;
    color: #ffffff;
}
.cards-banner-two p {
    margin: 20px 0;
}
/*Social*/
.social {
    margin: 50px;
}
.social p {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}
.links {
    display: flex;
    align-items: center;
    justify-content: center;
}
.links i {
    font-size: 50px;
    margin: 0 40px;
}

/* Footer */
.footer-container {
    margin: 0 auto;
    width: 90%;
    border: 3px solid white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
    
}
.footer-links {
   font-size: 12px;
   padding: 35px 0;
}
.footer-links a {
    color: gray;
}
.footer-links ul {
    margin: auto;
    padding: 20px 0;
}
.footer-container ul li {
    line-height: 2;
}
.footer-container .titles {
    text-transform: uppercase;
    text-emphasis: bold;
    font-size: 14px;
    font-weight: bold;
}
.footer {
    background-color: grey;
    font-size: 12px;
    text-align: center;
    color: black;
    padding: 5px 0;
}

@media (max-width: 700px) {
    .menu-btn {
        display: block;
    }
    .nav-main ul.nav-menu {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        padding: 30px;
        background-color: #2f3640;
        opacity: 0.9;
        transform: translateX(-400px);
        transition: transform .5s ease-in-out;
    }
    .nav-main ul.nav-menu.show {
        transform: translateX(-20px);
    }
    .nav-main ul.nav-menu li{
        padding: 20px;
        border-bottom: 1px solid #ccc;
        font-size: 14px;
    }
    .news-card {
        grid-template-columns: repeat(2, 1fr);
    }
    .cards-banner-one .content,
    .cards-banner-two .content{ 
        width: 80%;
    }
    .cards-banner-two .content{
        padding-top: 20px;
    }

}

@media (max-width: 500px) {
    .news-card {
        grid-template-columns: repeat(1, 1fr);
    }
    .news-card img {
        height: 250px;
    }
    .cards-banner-one .content,
    .cards-banner-two .content {
        width: 100%;
        padding: 60px 20px;
    }
    .footer-links .footer-container {
        grid-template-columns: repeat(2, 1fr);
    }
}